{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome, {% if user.is_authenticated %}{{ user.first_name|title }}{% else %}Guest{% endif %}</h1>
        <h2 class="text-center text-primary">ArshSoft is Best IT Solution For Your Business</h2>
        <p class="lead">
            ArshSoft Technologies is your trusted IT partner, delivering innovative and customized solutions to drive your business success. From website development to cutting-edge digital solutions, we bring expertise and dedication to meet your business needs efficiently.
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
        </p>
    </div>
{% endblock content %}
